.page-content{
    margin:5%, 2%;
    display:flex;
    justify-content: center;
    /* background-color: rgb(22, 22, 50); */
}
.toolbar{
    color:rgb(178, 199, 189);
    /* background-color: rgb(14, 31, 24); */
    background-color: rgb(28, 61, 47);
}
